<FlexboxLayout class="page">
    <ActionBar class="action-bar" style="background-color: transparent; border: 0; box-shadow: none !important;" flat="true">
        <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem> -->
        <Image class="action-bar-logo" src="~/assets/logo-preta.png"></Image>
    </ActionBar>
    <GridLayout rows="*, auto, auto">
        <GridLayout row="0" rows="auto, auto, auto" style="align-self: flex-start;">
            <GridLayout rows="auto, auto" columns="auto, auto" horizontalAlignment="center" *ngIf="!visualizandoSolicitacao" orientation="vertical" style="width: 80%">
                <StackLayout style="width: 50%" row="0" column="0">
                    <Button text="Adicionar resíduo" 
                        (tap)="addResiduo()" class="card-container"></Button>
                </StackLayout>
                <StackLayout style="width: 50%" row="0" column="1"> 
                    <Button text="Finalizar" 
                        (tap)="submit()" class="card-container"></Button>
                </StackLayout>
            </GridLayout>
            <StackLayout row="2" *ngIf="!visibleListaResiduos" style="align-self: center; width: 90%;">
                <Label textWrap="true" style="font-size: 15px; margin-top: 20px" text="Sua solicitação não possui nenhum resíduo" className="bold"></Label>
                <Label textWrap="true" style="font-size: 15px; margin-top: 10px" text="Pressione o botão 'Adicionar Resíduo' para começar" className="bold"></Label>
                <Label textWrap="true" style="font-size: 15px; margin-top: 10px" text="Depois de inserir os resíduos, basta pressionar o botão 'Finalizar' e sua solicitação estará aberta" 
                    className="bold"></Label>
            </StackLayout>
            <RadListView row="2" [items]="listaItems" verticalAlignment="center" height="50%" width="90%" id="list-view"
                *ngIf="visibleListaResiduos" (itemTap)="onItemTap($event)" 
                selectionBehavior="None" (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
                (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwipeProgressChanged)="onCellSwiping($event)" swipeActions="true">
                <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Slide" itemDeleteAnimation="Slide"></ListViewLinearLayout>
                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout rows="*, auto" class="card-container" > 
                        <Label class="lbl-no-border h2" row="0" text="Resíduo: {{item.descricao}}"></Label>
                        <Label class="lbl-no-border h3" row="1" text="Quantidade: {{item.quantidade}} {{item.unidadeMedida ? 'UN' : 'KG'}}"></Label>
                    </GridLayout>
                </ng-template>
                <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
                    <StackLayout id="mark-view" col="2" class="markViewStackLayout" (tap)="onLeftSwipeClick($event)">
                       <Label class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                   </StackLayout>
                   <StackLayout id="delete-view" col="0" class="deleteViewStackLayout" (tap)="onRightSwipeClick($event)">
                       <Label text="delete" class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                   </StackLayout>
               </GridLayout>
            </RadListView>
        </GridLayout>

        <Label row="1" style="bottom: 0;" class="login-label sign-up-label" (tap)="RetornarAoMenu()">
            <FormattedString>
                <Span [text]="visualizandoSolicitacao ? 'Retornar para solicitações' : 'Retornar ao menu'" class="bold"></Span>
            </FormattedString>
        </Label>
    </GridLayout>
</FlexboxLayout>