<FlexboxLayout class="page">
    <ActionBar class="action-bar" style="background-color: transparent; border: 0; box-shadow: none !important;" flat="true">
        <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem> -->
        <Image class="action-bar-logo" src="~/assets/logo-preta.png"></Image>
    </ActionBar>
    <StackLayout class="form">

        <PreviousNextView>
            <GridLayout rows="*, auto, auto">
                <StackLayout orientation="vertical" class="stack-form">
                    <GridLayout rows="*, *, *, *">
                        <StackLayout row="0" class="stack-item">
                            <TextField class="input" hint="Descrição do material" 
                                autocorrect="true"
                                ngDefaultControl [(ngModel)]="residuo.descricao"
                                returnKeyType="next" ></TextField>
                        </StackLayout>
        
                        <StackLayout row="1" class="stack-item">
                            <DropDown 
                                    itemsTextAlignment="center"
                                    [items]="unidadesMedida"
                                    [(ngModel)]="residuo.unidadeMedida"
                                    (selectedIndexChanged)="onchange($event)"
                                    row="0"
                                    colSpan="2"></DropDown>
                        </StackLayout>

                        <StackLayout row="2" class="stack-item">
                            <TextField class="input" 
                                hint="Informe a quantidade do material" ngDefaultControl [(ngModel)]="residuo.quantidade"
                                returnKeyType="next"
                                ></TextField>
                        </StackLayout>

                        <StackLayout row="3" class="stack-item">
                            <Button text="Adicionar material" 
                                (tap)="addMaterial()" class="btn btn-primary m-t-20"></Button>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <RadListView row="1" [items]="solicitacao.residuos" verticalAlignment="center" height="40%" [class.visible]="listLoaded">
                    <ng-template tkListItemTemplate let-residuo="item">
                        <StackLayout orientation="vertical">
                            <GridLayout rows="auto, auto, auto, auto">
                                <StackLayout row="0">
                                    <TextField class="input" hint="Descrição do material" 
                                        autocorrect="true"
                                        ngDefaultControl [(ngModel)]="residuo.descricao"
                                        returnKeyType="next" ></TextField>
                                    <StackLayout class="hr-light m-b-5"></StackLayout>
                                </StackLayout>
                
                                <StackLayout row="1">
                                    <TextField class="input" 
                                        hint="Selecione a unidade de medida" ngDefaultControl [(ngModel)]="residuo.unidadeMedida"
                                        returnKeyType="next"
                                        ></TextField>
                                    <StackLayout class="hr-light m-b-5"></StackLayout>
                                </StackLayout>

                                <StackLayout row="2">
                                    <TextField class="input" 
                                        hint="Informe a quantidade do material" ngDefaultControl [(ngModel)]="residuo.quantidade"
                                        returnKeyType="next"
                                        ></TextField>
                                    <StackLayout class="hr-light m-b-5"></StackLayout>
                                </StackLayout>

                                <StackLayout row="3">
                                    <Button text="Adicionar material" 
                                        (tap)="addMaterial()" class="btn btn-primary m-t-20"></Button>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </ng-template>
        
                </RadListView>
                <ActivityIndicator rowSpan="3" ></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <Button text="Abrir solicitação" 
            (tap)="submit()" class="btn btn-primary m-t-20"></Button>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="RetornarAoMenu()">
        <FormattedString>
            <Span text="Retornar ao menu" class="bold"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>