<FlexboxLayout class="page">
    <ActionBar class="action-bar" style="background-color: transparent; border: 0; box-shadow: none !important;">
        <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem> -->
        <Image class="action-bar-logo" src="~/assets/logo-preta.png"></Image>
    </ActionBar>
    <StackLayout class="form">

        <PreviousNextView>
            <GridLayout rows="auto">
                <StackLayout row="0">
                    <GridLayout rows="auto,auto,auto"> 
                        <StackLayout row="0" class="input">
                            <TextField #email class="input" hint="Email" [editable]="!processing"
                                keyboardType="email" autocorrect="false"
                                autocapitalizationType="none" [(ngModel)]="user.email"
                                returnKeyType="next" (returnPress)="focusPassword()"></TextField>
                        </StackLayout>
        
                        <StackLayout row="1" class="input">
                            <TextField #password class="input" [editable]="!processing"
                                hint="Senha" secure="true" [(ngModel)]="user.senha"
                                [returnKeyType]="isLoggingIn ? 'done' : 'next'" autocorrect="false"
                                (returnPress)="isLoggingIn ? focusConfirmPassword() : validarSenhaPreenchida()"></TextField>
                            <StackLayout class="hr-light m-b-5"></StackLayout>
                        </StackLayout>
                        
                    </GridLayout>   
                </StackLayout>
                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <Button [text]="isLoggingIn ? 'Login' : 'Cadastrar'" [isEnabled]="!processing"
            (tap)="submit()" class="btn btn-primary m-t-20 card-container"></Button>
        <Label *ngIf="isLoggingIn" text="Esqueceu sua senha?" class="login-label"
            (tap)="forgotPassword()"></Label>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span [text]="isLoggingIn ? 'Não tem conta? ' : 'Voltar para o login'"></Span>
            <Span [text]="isLoggingIn ? 'Cadastre-se' : ''" class="bold"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>