.page {
    align-items: center;
    flex-direction: column;
    color: #333;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    margin-bottom: 5;
    height: 70;
    font-weight: bold;
  }
  .header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 15;
    text-align: center;
    color: rgb(88, 88, 88);
  }

  .sub-header {
    horizontal-align: center;
    font-size: 15;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: rgb(95, 95, 95)
  }
  
  .input-field {
    margin-bottom: 20;
  }
  .input {
    font-size: 18;
    placeholder-color: #474747;
  }
  .input:disabled {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
  }
  
  .btn-primary {
    margin: 30 5 15 5;
  }
  
  .login-label {
    horizontal-align: center;
    color: #585858;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }
  