<FlexboxLayout class="page">
    <ActionBar class="action-bar" style="background-color: transparent; border: 0; box-shadow: none !important;" flat="true">
        <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem> -->
        <Image class="action-bar-logo" src="~/assets/logo-preta.png"></Image>
    </ActionBar>
    <StackLayout class="form">

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">
                

                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <Button text="Abrir uma nova teste solicitação" (tap)="novaSolicitaoClick()"></Button>
        <Button text="Listar solicitações" (tap)="listarSolicitacoesClick()"></Button>
        
        <Span text="Sair"></Span>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span text="Sair"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>